{% extends "portfolio/base.html" %} {% load static %} {% block content %}

<body>
  <section>
    <div class="text-container">
      <p>Who am I?</p>
      <p>I'm Lazarus Muya</p>
      <p>
        I am Python Backend <br />
        Developer & 3D Designer
      </p>
      <button class="hire-btn">Hire Me</button>
      <button class="down-cv">Download Cv</button>
    </div>
    <!-- intro text end .... -->
    <!-- model -->
    <!-- <img src="imgs/mwas.png" class="model" alt="" /> -->
  </section>

  <!------- ABOUT Section.--------------->
  <div class="about-container">
    <!-- images ..... -->
    <img src="{% static 'portfolio/mwas.jpg' %}" alt="" />
    <!-- about text -->
    <div class="about-text">
      <p>About Me</p>
      <p>Python Developer & 3D Designer</p>
      <p>
        What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and
        typesetting industry Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s when an unknown printer took a galley of type
        and scrambled it to make a type specimen book it has
      </p>
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but
        also the leap into electronic typesetting
      </p>
      <!-- button ... -->
      <button>Check Me</button>
      <button>Download Cv</button>
    </div>
  </div>

  <!--------- SERVICES --------->
  <div class="services">
    <div class="services-text">
      <p>Projects</p>
      <p>Projects Done</p>
      <p>
        <!-- services text -->
        lipsum as it is sometimes known, is dummy text used in laying out print,
        graphic or web designs. The passage is attributed to an unknown
        typesetter in the 15th century who is thought to have scrambled parts of
        Cicero's De Finibus
      </p>
    </div>

    <!-- new card start -->
    <div class="box-wrapper">
      {% for project in projects %}
      <div class="container">
        {% if project.image.url %}
        <img src="{{ project.image.url }}" />
        <a href="{{ project.url }}"> </a>
        {% else %}
        <img src="{{ project.image.url }}" />
        {% endif %}
        <img src="./imgs/arc.jpg" alt="" />
        <div class="content">
          <h3>{{ project.title }}</h3>
          <p>{{ project.description |truncatechars:200}}</p>
          <button class="more-button">See More</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-------- Contacts ------->
  <div class="contacts">
    <p>Any Feedback or Compliment</p>
    <button>Reach Me</button>
  </div>
  <!------ footer --------->
  <footer>
    <div class="footer-text">
      <div class="regards">
        <p><i>Find me on links below...</i></p>
        <!-- social nets -->
        <div class="social-icons">
          <a href="https://github.com/tjpin" target="__blank"
            ><i class="fab fa-github"></i
          ></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <!-- copyright -->
      <p class="copyright">
        <!-- Lazarus: 2020/2021 -->
        &copy; Copyright 2020/2021 Lazarus.Inc
      </p>
    </div>
  </footer>
  <!-- Attached social bar -->
  <div class="a-social-b">
    <a href="https://github.com/tjpin" target="__blank"
      ><i class="fab fa-github"></i
    ></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><button class="top">Top</button></a>
  </div>
</body>
{% endblock %}
